* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	background-color: #333;
	overflow: hidden;
}

button {
	position: relative;
	margin: 35px;
	padding: 20px 60px;
	background: none;
	border: solid 1px ffffff;
	border-radius: 8px;
	color: #ffffff;
	font-size: 28px;
	text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;
}

button::after,
button::before {
	display: block;
	position: absolute;
	content: '';
	transition: all 0.5s;
	z-index: -1;
}

.slide {
	width: 180px;
	height: 95px;
}
.slide::after {
	height: 100%;
	top: 0;
	left: -10px;
	border-left: 2px solid #fff;
}
.slide::before {
	width: 100%;
	top: -10px;
	left: 0;
	border-top: 2px solid #fff;
}

.slide:hover::after {
	left: 300px;
}

.slide:hover::before {
	top: 100px;
}

.span1,
.span2 {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.span1 {
	left: 50%;
	transition: 0.5s;
}

.span2 {
	left: -50%;
	transition: 0.5s;
}

.slide:hover .span1 {
	left: 150%;
}

.slide:hover .span2 {
	left: 50%;
}
/* /slice/ */

.slice::before,
.slice::after {
	width: 100%;
	height: 100%;
	background-color: aqua;
}

.slice::before {
	top: -50%;
	left: -100%;
}

.slice::after {
	bottom: -50%;
	right: -100%;
}

.slice:hover::after {
	right: 0;
}
.slice:hover::before {
	left: 0;
}

/* / hyym/ */

.hmm {
	border: none;
	transition: 0.5s;
}
.hmm:hover {
	box-shadow: 2px 3px 0 0 rgba(255, 255, 255, 0.8), inset 11px 6px 10px rgba(0, 0, 0, 0.2);
}

.border {
	border-radius: 0;
}
